[MESSAGES CONTROL]
disable=invalid-name,
        logging-fstring-interpolation,
        logging-not-lazy,
        fixme,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        bad-continuation,
        broad-except,
        comparison-with-callable,
        too-few-public-methods

[FORMAT]
max-line-length=120
