[MESSAGES CONTROL]
disable=invalid-name,
        logging-fstring-interpolation,
        logging-not-lazy,
        fixme,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        bad-continuation,
        broad-except,
        comparison-with-callable,
        too-few-public-methods,
        locally-disabled

[TYPECHECK]
generated-members=models.Categorical.*,
        models.Event.*,
        models.ScienceDownlink.*,
        models.Packet.*,
        models.Intent.*,
        models.SciencePacket.*,
        models.BmonData.*,
        pd.DatetimeIndex

[FORMAT]
max-line-length=120
